@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
body{
    background-color: #F5F5F7;
}
.container{
    width: 1080px;
    margin: 0 auto;
}
.header-black{
    background-color: #333333;
}
header {
    height: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apple{
    height: 21px;
    fill: #D6D6D6;
}
.shop{
    width: 28px;
    height: 44px;
}
.btn{
    background-color: transparent;
    border: none;
    color: #D6D6D6;
    font-size: 13.5px;
    font-weight: 300;
    transition: 500ms;
}
.btn:hover{
    color: white;
}
.level1{
    background-color: white;
    border-bottom: 1px solid #D6D6D6;
}

.top{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-text{
    font-size: 23px;
    font-weight: 500;
    color: black;
}
.top-left{
    width: 385px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-top{
    background-color: transparent;
    border: none;
    font-size: 13.5px;
}
.first{
    color: grey;
}
.second{
    transition: 300ms;
}
.second:hover{
    color: blue;
}
.third{
    background-color: #0071E3;
    border-radius: 50px;
    color: white;
    padding: 5px 15px;
    transition: 400ms;
}
.third:hover{
    background-color: #318CE7;
}
.level2{
    background-color: white;
}
.top-medium{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ssilka{
    color: #287ED4;
}
.none{
    text-decoration: none;
}
.text-block{
    margin: 40px auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: 23px;
    font-weight: 500;
}
.text1{
    font-size: 66px;
    font-weight: 500;
    text-align: center;
}
.text2{
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}
.text3{
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
    color: #86868B;
}
.button-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.buy{
    background-color: #0071E3;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 14px 28px;
    transition: 400ms;
}
.buy:hover{
    background-color: #318CE7;
}
.img-block{
    height: 235px;
    background-image: url(./Img/green.jpg);
    background-size: contain;
    margin-top: 65px;
    transition: 500ms;
}
.colors{
    display: flex;
    align-items: center;
    justify-content: center;
}
.color{
    height: 42px;
    width: 42px;
    background-color: green;
    margin-top: 65px;
    margin-bottom: 30px;
    margin-left: 20px;
    border-radius: 100px;
}
.green{
    background-color: #394C38;
}
.pink{
    background-color: #FADDD7;
}
.blue{
    background-color: #276787;
}
.black{
    background-color: #232A31;
}
.white{
    background-color: #FAF6F2;
}
.red{
    background-color: #BF0013;
}
.header-2{
    height: 66px;
    background-color: #F5F5F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}
.flex-text{
    font-size: 17px;
    font-weight: 700;
}
.link-text{
    color: #287ED4;
    line-height: 25px;
    font-size: 16px;
}
.header2{
    display: flex;
    align-items: center;
}
.header-2-img{
    height: 28px;
    margin-right: 13px;
}
.flex-link{
    text-decoration: none;
}
.all-block{
    height: 120%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.container2{
    width: 700px;
    margin: 0 auto;
}
.mini-block{
    display: none;
    transition: .5 ease;
    width: 850px;
    height: fit-content;
    border-radius: 23px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 48px;
    transform: translateX(-50%);
    overflow: hidden;
}
.height{
    height: 629px;
}
.mega{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-top: 74px;
    margin-bottom: 20px;
}
.krest{
    height: 36px;
    width: 36px;
    border-radius: 100px;
    border: none;
    position: absolute;
    top: 20px;
    left: 20px;
}
.no{
    height: 36px;
}
.one{
    font-size: 17px;
    color: #1d1d1d;
    text-align: center;
}
.two{
    color: #287ED4;
}
.wrap{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.block-img{
    width: 516px;
    height: 53px;
    background-image: url(./Img/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.wrap-all{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.wrapper{
    width: 544px;
    height: 56px;
    border: 1px solid gray;
    opacity: 0.7;
    border-radius: 10px;
}
.wrap-top{
    font-size: 13px;
    margin-top: 5px;
    margin-left: 10px;
}
.option{
    width: 530px;
    height: 30px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    margin-left: 8px;
}
.cener-text{
    font-size: 20px;
    color: #1d1d1d;
    font-weight: 700;
    opacity: 0.8;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.garmoshka{
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.bottom-img{
    height: 24px;
}
.open-garmoshka{
    width: 33px;
    height: 32px;
    background-image: url(./Img/bottom.svg);
    background-position: center;
    background-size: cover;
    transition: 500ms;
    margin-top: 50px;
    margin-bottom: 20px;
}
.active{
    background-image: url(./Img/top.svg);
}
.gar-left{
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 20px;
}
.grey{
    background-color: #F5F5F7;
    height: 55%;
}
.storey{
    height: 263px;
    border-top: 1px solid #C9C9CA;
    border-bottom: 1px solid #C9C9CA;
    display: flex;
    padding: 20px 0 20px 0;
    margin-top: 20px;
}
.storey-left{
    width: 153px;
}
.storey-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.storey-left-text{
    font-size: 18px;
    font-weight: 500;
}
.storey-top p {
    font-size: 22px;
    font-weight: 500;
}
.storey-right-text{
    font-size: 22px;
    font-weight: 500;
}
.storey-right-text2{
    font-size: 12px;
    color: #6e6e73;
    margin-top: 8px;
}
.storey-right-bottom-text1{
    font-size: 12px;
    margin-top: 5px;
}
.storey2{
    height: 135px;
    display: flex;
    border-bottom: 1px solid #C9C9CA;
    padding: 20px 0 20px 0;
}
.storey2-top{
    font-size: 14px;
}
.story-block{
    display: block;
}
.x{
    display: none;
}